<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Index</title>
    </head>
    <body>
        <form action="/resultado" method="POST" id="form_principal">
            <p>
                <label >O que deseja pesquisar? (Apenas inglês)</label><br><br>
                <input type="text" id="id_dado" name="id_dado" required></input>
            </p>
            <p>
                <input type="submit" value="Buscar"></input>
            </p>
        </form>
    </body>
</html>